

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chartreuse;
    border: dashed;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
}
h2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: magenta;
    border: solid ;
}
p{
    border:solid white;
    color: azure;
}
body{ background-color:gray;
    
    
    font-family:'Lucida Sans' green , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


h3{
    font-family: cursive;
    color: red;
    border: solid ;
}